<header class="header-fixed text-gray-200 bg-gradient-to-r from-orange-500 via-red-500 to-red-600 body-font">
    <div class="container mx-auto flex flex-wrap items-center h-full">
      <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0" routerLink="/">
        <img src="assets/images/SP_logo.png" alt="StockPro Logo" class="w-20 h-20 text-white p-2">
        <span class="ml-3 text-white text-xl">StockPro</span>
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" class="mr-5 hover:text-yellow-300">Home</a>
        <a routerLink="/signup" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" class="mr-5 hover:text-yellow-300">SignUp</a>
        <a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" class="mr-5 hover:text-yellow-300">Login</a>
      </nav>
    </div>
  </header>