<app-sidebar></app-sidebar>
<div class="relative md:ml-64 bg-[blueGray-100]">
  <app-navbar></app-navbar>
  <!-- Header -->
  <div class="relative bg-[#caf0f8] md:pt-32 pb-32 pt-12">
    <div class="px-4 md:px-10 mx-auto w-full">
      <div>
        <!-- Card stats -->
        <div class="flex flex-wrap">
          
          <div class="w-full lg:w-1/2 xl:w-2/2 px-4">
            <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">
              <div class="flex-auto p-4">
                <div class="flex flex-wrap">
                  <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                    <h5 class="text-blueGray-400 uppercase font-bold text-xs">
                      Our Staff
                    </h5>
                    <div class="font-semibold text-xl text-blueGray-700">
                      {{ userCount }} <!-- Dynamically display user count -->
                    </div>
                  </div>
                  <div class="relative w-auto pl-4 flex-initial">
                    <div
                      class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full bg-orange-500">
                      <i class="fas fa-people-carry"></i>
                    </div>
                  </div>
                </div>
                <!-- In dashboard.component.html -->
                <p *ngIf="growthData" class="text-sm text-blueGray-400 mt-4">
                  <span [ngStyle]="{'color': growthData.growthPercentage > 0 ? 'green' : 'red'}" class="mr-2">
                    <i [ngClass]="{
        'fas': true,
        'fa-arrow-up': growthData.trend === 'Increased',
        'fa-arrow-down': growthData.trend === 'Decreased',
        'text-emerald-500`': growthData.trend === 'Increased',
        'text-red-500': growthData.trend === 'Decreased'
    }"></i> {{ growthData.growthPercentage | number:'1.0-2' }}%
                  </span>
                  <span class="whitespace-nowrap">
                    Since last month
                  </span>
                </p>

              </div>
            </div>
          </div>
          <div *ngIf="salesData" class="w-full lg:w-1/2 xl:w-2/2 px-4 ">
            <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">
              <div class="flex-auto p-4">
                <div class="flex flex-wrap">
                  <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                    <h5 class="text-blueGray-400 uppercase font-bold text-xs">
                      Sales
                    </h5>
                    <span class="font-semibold text-xl text-blueGray-700">
                      {{ salesData.totalSalesToday | currency:'GBP':'symbol':'1.2-2' }}
                    </span>
                  </div>
                  <div class="relative w-auto pl-4 flex-initial">
                    <div
                      class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full bg-pink-500">
                      <i class="fas fa-dollar-sign"></i>
                    </div>
                  </div>
                </div>
                <p class="text-sm text-blueGray-400 mt-4">
                  <span [ngStyle]="{'color': salesData.growthPercentage > 0 ? 'green' : 'red'}" class="mr-2">
                    <i [ngClass]="{
                        'fas': true,
                        'fa-arrow-up': salesData.trend === 'Increased',
                        'fa-arrow-down': salesData.trend === 'Decreased',
                        'text-emerald-500`': salesData.trend === 'Increased',
                        'text-red-500': salesData.trend === 'Decreased'
                    }"></i> {{ salesData.growthPercentage | number:'1.0-2' }}%
                  </span>
                  <span class="whitespace-nowrap">
                    Since yesterday
                  </span>
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="px-4 md:px-10 mx-auto w-full -m-24">
    
    
    <div class="flex flex-wrap mt-4">
      <div class="w-full xl:w-8/12 mb-12 xl:mb-0 px-4">
        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
          <div class="rounded-t mb-0 px-4 py-3 border-0">
            <div class="flex flex-wrap items-center">
              <div class="relative w-full px-4 max-w-full flex-grow flex-1">
                <h3 class="font-semibold text-base text-blueGray-700">
                  Top Selling Products
                </h3>
              </div>

            </div>
          </div>
          <div class="block w-full overflow-x-auto">
            <!-- Projects table -->
            <table class="items-center w-full bg-transparent border-collapse">
              <thead>
                <tr>
                  <th
                    class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                    Product Name
                  </th>
                  <th
                    class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                    Price
                  </th>
                  <th
                    class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                    Total Amount Sold
                  </th>
                  <th
                    class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                    Percentage of Total Sales Amount
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of topSellingProducts">
                  <th
                    class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">
                    {{ product.productName }}
                  </th>
                  <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                    {{ product.productPrice | currency: 'GBP':'symbol':'1.2-2' }}
                  </td>
                  <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                    {{ product.totalSales | currency: 'GBP':'symbol':'1.2-2' }}
                  </td>
                  <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                    <div class="flex items-center">
                      <span class="mr-2">{{ product.percentageOfTotalSales | number: '1.2-2' }}%</span>
                      <div class="relative w-full">
                        <div [ngStyle]="{
                          'background-color': getContainerColor(product.percentageOfTotalSales)
                        }" class="overflow-hidden h-2 text-xs flex rounded">
                          <div [ngStyle]="{
                              'width': product.percentageOfTotalSales + '%',
                              'background-color': getPercentageColor(product.percentageOfTotalSales)
                            }"
                            class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center">
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <ng-template #noData>
              <p>No top-selling products found.</p>
            </ng-template>

          </div>
        </div>
      </div>
      
      <div class="w-full xl:w-4/12 px-4">
        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
          <div class="rounded-t mb-0 px-4 py-3 border-0">
            <div class="flex flex-wrap items-center">
              <div class="relative w-full px-4 max-w-full flex-grow flex-1">
                <h3 class="font-semibold text-base text-blueGray-700">
                  Low Stock Alert
                </h3>
              </div>

            </div>
          </div>
          <div class="block w-full overflow-x-auto">
            <!-- Projects table -->
            <table class="items-center w-full bg-transparent border-collapse">
              <thead class="thead-light">
                <tr>
                  <th
                    class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                    Product
                  </th>
                  <th
                    class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                    Available Quantity
                  </th>
                  <th
                    class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                    style="min-width:140px"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of belowMinimumProducts">
                  <th
                    class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">
                    {{product.name}}
                  </th>
                  <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                    {{product.quantity}}
                  </td>

                </tr>




              </tbody>
            </table>
            <ng-template #noData>
              <p>All products are up to level.</p>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="w-full xl:w-8/12 mb-12 xl:mb-0 px-4">
        <div class="flex flex-wrap items-center">
          <div class="relative w-full px-4 max-w-full flex-grow flex-1">
            <h3 class="font-semibold text-base text-blueGray-700">
              Most Sold Products Chart
            </h3>
          </div>

        </div>
        <div class="container mx-auto px-4 py-6">
          <canvas id="doughnutChart"></canvas>
        </div>
        
      </div>
     
      <div class="w-full xl:w-4/12 px-4 ">
        
          <div class="rounded-t mb-0 px-4 py-3 border-0">
            <div class="flex flex-wrap items-center">
              <div class="relative w-full px-4 max-w-full flex-grow flex-1">
                <h3 class="font-semibold text-base text-blueGray-700">
                  Low Stock Alert Graph
                </h3>
              </div>

            </div>
          </div>
          <div class="container mx-auto px-4 py-6 h-96">
            <canvas id="belowMinimumChart"></canvas>
          </div>
          
    
      </div>
    </div>
    <div class="text-xs text-gray-500 mt-4 text-center">
      Copyright © 2024-2024. All rights reserved. Version 1.0.0
    </div>
  </div>
</div>