<header class="header-fixed text-black-200 bg-gradient-to-r from-[#1ebcff] via-[#1ebcff] to-[#1ebcff] body-font">

    <div class="container mx-auto flex flex-wrap items-center h-full">
      <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0" routerLink="/">
        <img src="assets/images/SP_logo.png" alt="StockPro Logo" class="w-20 h-20 text-white p-2">
        <span class="ml-3 text-white text-xl">StockPro</span>
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" class="mr-5 hover:text-[#ffffff]">Home</a>
        <a routerLink="/signup" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" class="mr-5 hover:text-[#ffffff]">SignUp</a>
        <a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" class="mr-5 hover:text-[#ffffff]">Login</a>
      </nav>
    </div>
  </header>