<app-sidebar></app-sidebar>
<div class="relative md:ml-64 bg-white-900 min-h-screen"> 
  <div class="relative bg-white-900 md:pt-32 pb-24 pt-12 min-h-screen"> 

    <div *ngIf="users.length > 0; else noUsers">
      <section class="text-black-400 bg-white-900 body-font overflow-hidden">
        <div class="content container px-5 py-24 mx-auto">
          <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-black">Our Team</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
              Meet the dedicated professionals who drive our success. Each member brings unique skills and experiences, working together to achieve our goals and deliver exceptional results.
            </p>
          </div>
          <div class="container">
           
          
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
              <div *ngFor="let user of users" class="p-4" [hidden]="selectedUser && selectedUser.id !== user.id">
                <div class="h-full p-6 rounded-lg border-2 border-orange-500 flex flex-col relative overflow-hidden">
                  <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mb-4" src="assets/images/signUp.png">
                  <div class="text-item"><span class="heading">Name: </span><span class="content">{{ user.name }}</span></div>
                  <div class="text-item"><span class="heading">Role: </span><span class="content">{{ user.role }}</span></div>
                  <div class="text-item"><span class="heading">Email: </span><span class="content break-words">{{ user.email }}</span></div>
                  <div class="text-item"><span class="heading">Phone: </span><span class="content">{{ user.contactNumber }}</span></div>
                  <div *ngIf="!selectedUser || selectedUser.id !== user.id" class="flex justify-center mt-auto space-x-2">
                    <button class="flex-1 text-white bg-[#87CEEB] border-0 py-2 focus:outline-none hover:bg-[#00BFFF] rounded text-center" (click)="selectUser(user)">Edit</button>
        <button class="flex-1 text-white bg-[#d62828] border-0 py-2 focus:outline-none hover:bg-[#FF4500] rounded text-center" (click)="deleteUser(user)">Delete</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
          
        </div>
      </section>
    </div>

    <div *ngIf="selectedUser" class="edit-overlay">
      <div class="edit-form-container">
        <h3 class="text-black text-center">Edit User</h3>
        <form (ngSubmit)="updateUser()" class="bg-white-200 p-8 rounded-lg">
          <div class="mb-4">
            <label class="block text-black-400 text-sm font-bold mb-2" for="name">
              Name
            </label>
            <input [(ngModel)]="selectedUser.name" name="name" class="shadow appearance-none border rounded w-full py-2 px-3 text-black-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" required>
          </div>
          <div class="mb-4">
            <label class="block text-black-400 text-sm font-bold mb-2" for="email">
              Email
            </label>
            <input [(ngModel)]="selectedUser.email" name="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-black-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" required>
          </div>
          <div class="mb-4">
            <label class="block text-black-400 text-sm font-bold mb-2" for="role">
              Role
            </label>
            <input [(ngModel)]="selectedUser.role" name="role" class="shadow appearance-none border rounded w-full py-2 px-3 text-black-700 leading-tight focus:outline-none focus:shadow-outline" id="role" type="text" required>
          </div>
          <div class="mb-4">
            <label class="block text-black-400 text-sm font-bold mb-2" for="role">
              Phone
            </label>
            <input [(ngModel)]="selectedUser.contactNumber" name="contactNumber" class="shadow appearance-none border rounded w-full py-2 px-3 text-black-700 leading-tight focus:outline-none focus:shadow-outline" id="contactNumber" type="text" required>
          </div>
          <div class="flex items-center justify-between">
            <button type="submit" class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
              Update
            </button>
            <button type="button" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" (click)="cancelEdit()">
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>

    <app-confirm-modal *ngIf="showModal" [message]="'Are you sure you want to delete user ' + userToDelete.name + '?'"
                       [showConfirmButtons]="true" (confirmed)="confirmDelete($event)"></app-confirm-modal>

    <app-confirm-modal *ngIf="showSuccessModal" [message]="'User deleted successfully!'"
                       [showConfirmButtons]="false" (confirmed)="handleSuccessModalClose()"></app-confirm-modal>

    <ng-template #noUsers>
      <p class="text-white text-center">No users found.</p>
    </ng-template>

  </div>
</div>
