<nav
  class="md:left-0 md:block md:fixed md:top-0 md:bottom-0 md:overflow-y-auto md:flex-row md:flex-nowrap md:overflow-hidden shadow-xl 
  bg-gradient-to-r from-orange-500 via-red-500 to-red-600 flex flex-wrap items-center justify-between relative md:w-64 z-10 py-4 px-6"
>
  <div
    class="md:flex-col md:items-stretch md:min-h-full md:flex-nowrap px-0 flex flex-wrap items-center justify-between w-full mx-auto"
  >
   
    <!-- Brand -->
    <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0" routerLink="/">
      <img src="assets/images/SP_logo.png" alt="StockPro Logo" class="w-20 h-20 text-white p-2">
      <span class="ml-3 text-black text-xl">StockPro</span>
    </a>
      <!-- Collapse header -->
      <div
        [ngClass]="collapseClass"
        class="md:min-w-full md:hidden block pb-4 mb-4 border-b border-solid border-blueGray-200"
      >
        <div class="flex flex-wrap">
          <div class="w-6/12">
            <a
              class="md:block text-left md:pb-2 text-blueGray-600 mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-4 px-0"
              href="javascript:void(0)"
            >
              StockPro
            </a>
          </div>
        </div>
      </div>
     
      <!-- Navigation -->
      <ul class="md:flex-col md:min-w-full flex flex-col list-none">
      
        <li class="items-center">
          <a
            class="text-xs uppercase py-3 font-bold block"
            routerLink="/dashboard"
            routerLinkActive="text-white"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <i class="fas fa-tv opacity-75 mr-2 text-sm"></i>
            Dashboard
          </a>
        </li>
        <li class="items-center">
          <div
            class="text-xs uppercase py-3 font-bold block"
          >
            <i class="fas fa-users text-blueGray-400 mr-2 text-sm"></i>
            Users
            <i
            class="fas fa-caret-down ml-2 cursor-pointer"
            (click)="toggleDropdown()"
          ></i>
          </div>
          
          <ul
            *ngIf="isDropdownOpen"
            class="ml-6 mt-2 space-y-2 transition-all duration-300 ease-in-out"
          >
            <li class="items-center" [ngClass]="{'disabled': userDetails.role !== 'ADMIN'}">
              <a
                class="text-xs uppercase py-3 font-bold block"
                routerLink="/add-user"
                routerLinkActive="text-white"
                [class.disabled]="userDetails.role !== 'ADMIN'"
              >
                Add User
              </a>
            </li>
            <li>
              <a
                class="text-xs uppercase py-3 font-bold block"
                routerLink="/users/manage"
                routerLinkActive="text-white"
                [class.disabled]="userDetails.role !== 'ADMIN'"
              >
                Manage Users
              </a>
            </li>
          </ul>
        </li>
        <li class="items-center">
          <a
            class="text-xs uppercase py-3 font-bold block"
            routerLink="/profile"
            routerLinkActive="text-white"
          >
            <i class="fas fa-user-circle text-blueGray-400 mr-2 text-sm"></i>
            Profile Page
          </a>
        </li>
        <li class="items-center">
          <a
            class="text-xs uppercase py-3 font-bold block"
            routerLink="/products"
            routerLinkActive="text-white"
          >
            <i class="fas fa-fingerprint text-blueGray-400 mr-2 text-sm"></i>
            Products
          </a>
        </li>
        <li class="items-center">
          <a
            class="text-xs uppercase py-3 font-bold block"
            routerLink="/orders"
            routerLinkActive="text-white"
          >
            <i class="fas fa-clipboard-list text-blueGray-300 mr-2 text-sm"></i>
            Orders
          </a>
        </li>
        <li class="items-center">
          <a
            class="text-xs uppercase py-3 font-bold block"
            routerLink="/reports"
            routerLinkActive="text-white"
          >
            <i class="fas fa-tools text-blueGray-300 mr-2 text-sm"></i>
            Reports
          </a>
        </li>
      </ul>
      
      <!-- Divider -->
      <hr class="my-4 md:min-w-full" />
      <!-- Heading -->
      <h6
        class="md:min-w-full text-blueGray-500 text-xs uppercase font-bold block pt-1 pb-4 no-underline"
      >
        Navigation
      </h6>
      <!-- Navigation -->
      <ul
        class="md:flex-col md:min-w-full flex flex-col list-none md:mb-4"
      >
        <li class="inline-flex">
          <a
            class="text-blueGray-700 hover:text-blueGray-500 text-sm block mb-4 no-underline font-semibold"
            href="/"
            ><i
              class="fas fa-newspaper mr-2 text-blueGray-400 text-base"
            ></i>
            LANDING PAGE</a
          >
        </li>
        <li class="inline-flex">
          <a
            class="text-blueGray-700 hover:text-blueGray-500 text-sm block mb-4 no-underline font-semibold"
            href="/login"
            ><i class="fas fa-fingerprint mr-2 text-blueGray-400 text-base"></i>
            LOGIN</a
          >
        </li>
        <li class="inline-flex">
          <a
            class="text-blueGray-700 hover:text-blueGray-500 text-sm block mb-4 no-underline font-semibold"
            href="/signup"
            ><i class="fas fa-clipboard-list mr-2 text-blueGray-400 text-base"></i>
            REGISTER</a
          >
        </li>
        <li class="inline-flex">
          <button 
            (click)="logout()" 
            class="text-blueGray-700 hover:text-blueGray-500 text-sm block mb-4 no-underline font-semibold"
          >
            <i class="fas fa-sign-out-alt mr-2 text-blueGray-400 text-base"></i>
            Logout
          </button>
        </li>
      </ul>
    </div>
</nav>
