<app-sidebar></app-sidebar>

<div class="relative md:ml-64 bg-blueGray-100">
  <div class="relative bg-white-200 md:pt-32 pb-500 pt-12" style="padding-top: 0rem;">
    <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
      <div class="flex justify-between items-center px-4 py-2 text-black">
        <div class="flex items-center">
          <h1 class="text-xl font-bold">Manage Products</h1>
        </div>
      </div>

      <div class="container mx-auto my-8">
        <div *ngIf="message" class="bg-green-500 text-white px-4 py-2 rounded-md mb-4">
          {{ message }}
        </div>
        


        <div class="flex justify-between items-center mb-4">
          
          <span>Show {{ pageSize }} entries
            <select [(ngModel)]="pageSize" (ngModelChange)="onPageSizeChange()" class="px-2 py-1 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="50">50</option>
            </select>
          </span>
          <input type="text" [(ngModel)]="searchValue" (input)="searchProducts()" class="px-2 py-1 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Search">

        </div>
        
      
          
          <table class="w-full">
            <thead>
              <tr class="bg-gray-100">
                <th class="px-4 py-2 text-left">Name</th>
                <th class="px-4 py-2 text-left">Category</th>
                <th class="px-4 py-2 text-left">Quantity</th>
                <th class="px-4 py-2 text-left">Price</th>
                <th class="px-4 py-2 text-left">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products">
                <td class="px-4 py-2">{{ product.name }}</td>
                <td class="px-4 py-2">{{ product.category }}</td>
                <td class="px-4 py-2">{{ product.quantity }}</td>
                <td class="px-4 py-2">{{ product.price }}</td>
                <td class="px-4 py-2">
                  <button class="edit-button bg-blue-500 hover:bg-blue-600 text-white px-2 py-1 rounded-md mr-2" (click)="selectProduct(product)"><i class="fas fa-edit"></i> Edit</button>
                  <button class="delete-button bg-red-500 hover:bg-red-600 text-white px-2 py-1 rounded-md" (click)="deleteProduct(product)"><i class="fas fa-trash-alt"></i> Delete</button>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="flex justify-between items-center mt-4">
            <button class="bg-[#BCAAA4] hover:bg-blue-600 text-white px-2 py-1 rounded-md" (click)="previousPage()"><i class="fas fa-arrow-left"></i> Previous</button>
            <span>Page {{ currentPage }} of {{ totalProducts / pageSize | ceil }}</span>
            <button class="bg-[#BCAAA4] hover:bg-blue-600 text-white px-2 py-1 rounded-md" (click)="nextPage()">Next <i class="fas fa-arrow-right"></i></button>
          </div>
        </div>
        
        </div>
      </div>

      <div class="text-xs text-gray-500 mt-4 text-center">
        Copyright © 2024-2024. All rights reserved. Version 1.0.0
      </div>

      <app-confirm-modal *ngIf="showModal" [message]="'Are you sure you want to delete product ' + productToDelete.name + '?'" [showConfirmButtons]="true" (confirmed)="confirmDelete($event)"></app-confirm-modal>

      <app-confirm-modal *ngIf="showSuccessModal" message="message" [showConfirmButtons]="false" (confirmed)="handleSuccessModalClose()"></app-confirm-modal>

      <div *ngIf="selectedProduct" class="fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 flex justify-center items-center">
        <div class="bg-white p-8 rounded-lg w-full max-w-md">
          <h3 class="text-black text-center mb-4">Edit Product</h3>
          <form (ngSubmit)="updateProduct()" class="space-y-4">
            <div>
              <label class="block text-black-400 text-sm font-bold mb-2" for="name">Name</label>
              <input [(ngModel)]="selectedProduct.name" name="name" class="shadow appearance-none border rounded w-full py-2 px-3 text-black-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" required>
            </div>
            <div>
              <label class="block text-black-400 text-sm font-bold mb-2" for="category">Category</label>
              <input [(ngModel)]="selectedProduct.category" name="category" class="shadow appearance-none border rounded w-full py-2 px-3 text-black-700 leading-tight focus:outline-none focus:shadow-outline" id="category" type="text" required>
            </div>
            <div>
              <label class="block text-black-400 text-sm font-bold mb-2" for="description">Description</label>
              <input [(ngModel)]="selectedProduct.description" name="description" class="shadow appearance-none border rounded w-full py-2 px-3 text-black-700 leading-tight focus:outline-none focus:shadow-outline" id="description" type="text" required>
            </div>
            <div>
              <label class="block text-black-400 text-sm font-bold mb-2" for="quantity">Quantity</label>
              <input [(ngModel)]="selectedProduct.quantity" name="quantity" class="shadow appearance-none border rounded w-full py-2 px-3 text-black-700 leading-tight focus:outline-none focus:shadow-outline" id="quantity" type="number" required>
            </div>
            <div>
              <label class="block text-black-400 text-sm font-bold mb-2" for="minimumQuantity">Min Quantity</label>
              <input [(ngModel)]="selectedProduct.minimumQuantity" name="minimumQuantity" class="shadow appearance-none border rounded w-full py-2 px-3 text-black-700 leading-tight focus:outline-none focus:shadow-outline" id="minimumQuantity" type="number" required>
            </div>
            <div>
              <label class="block text-black-400 text-sm font-bold mb-2" for="price">Price</label>
              <input [(ngModel)]="selectedProduct.price" name="price" class="shadow appearance-none border rounded w-full py-2 px-3 text-black-700 leading-tight focus:outline-none focus:shadow-outline" id="price" type="number" required>
            </div>
            <div>
              <label class="block text-black-400 text-sm font-bold mb-2" for="supplier">Supplier</label>
              <input [(ngModel)]="selectedProduct.supplier" name="supplier" class="shadow appearance-none border rounded w-full py-2 px-3 text-black-700 leading-tight focus:outline-none focus:shadow-outline" id="supplier" type="text" required>
            </div>
            <div>
              <label class="block text-black-400 text-sm font-bold mb-2" for="brand">Brand</label>
              <input [(ngModel)]="selectedProduct.brand" name="brand" class="shadow appearance-none border rounded w-full py-2 px-3 text-black-700 leading-tight focus:outline-none focus:shadow-outline" id="brand" type="text" required>
            </div>
            <div>
              <label class="block text-black-400 text-sm font-bold mb-2" for="attribute">Attribute</label>
              <input [(ngModel)]="selectedProduct.attribute" name="attribute" class="shadow appearance-none border rounded w-full py-2 px-3 text-black-700 leading-tight focus:outline-none focus:shadow-outline" id="attribute" type="text" required>
            </div>
            
            <div class="flex justify-between">
              <button type="submit" class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Update</button>
              <button type="button" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" (click)="cancelEdit()">Cancel</button>
            </div>
          </form>
        </div>
      </div>


